In [1]:
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
for i in a.values():
    print(i)

98879898
79329847932
12389028390

In [2]:
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
for i in a.items():
    print(i)

('Ram', 98879898)
('Shyam', 79329847932)
('Hari', 12389028390)

In [3]:
#add and update dic
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
a['Ram']= 38388333
a['Somebody'] = 9899898998
a

{'Ram': 38388333,
 'Shyam': 79329847932,
 'Hari': 12389028390,
 'Somebody': 9899898998}

In [4]:
#concanating
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
b= {'Sita': 9808299303, 'Babita': 989898}
a.update(b)
a

{'Ram': 98879898,
 'Shyam': 79329847932,
 'Hari': 12389028390,
 'Sita': 9808299303,
 'Babita': 989898}

In [5]:
#delete or pop
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
del a['Ram']
a

{'Shyam': 79329847932, 'Hari': 12389028390}

In [6]:
a = {'Ram': 98879898, 'Shyam': 79329847932, 'Hari': 12389028390}
b = a.pop('Ram')
print(b)
print(a)

98879898
{'Shyam': 79329847932, 'Hari': 12389028390}

In [ ]:
# list inside dict
a = {'Ram': 98879898, 8329749832 , 'Shyam': 79329847932, 234890343, 'Hari': 12389028390,123232}
a['Ram'].append("123829")
a

In [ ]:
a = {'name':['Ram', 'Shyam', 'Hari'],
'age': [20,34,67],
'add':['Ktm','Pokhara', 'Lalitpur']}
a

a= {}
n = (input("Enter name = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no"))
    a[name] = [ntc,ncell]
print(a)

In [ ]:
a= {'name':[], 'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter ntc no = "))
    add = int(input("Enter ncell no"))
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)

print(a)

In [ ]:
a = {'name': ['Ram', 'Shyam'], 'age': [34,35],'add': ['Kathmandu','pokhara']}
print("Name = ",a['name'][0])
print("Name = ",a['age'][0])
print("Name = ",a['add'][0])
a['age'][0]=33
a

In [2]:
a = {'name': ['Ram', 'Shyam'], 'age': [34,35],'add': ['Kathmandu','pokhara']}
k = list(a.keys())
index = int(input("Enter index ="))
for i in a:
    del a[i][index]
print(a)
#Another way of deleting automated task
# del a['name'][0]
# del a['age'][0]
# del a['add'][0]
# a

Enter index = 1

{'name': ['Ram'], 'age': [34], 'add': ['Kathmandu']}

In [3]:
a = {'name': ['Ram', 'Shyam'], 'age': [34,35],'add': ['Kathmandu','pokhara']}
index = int(input("Enter index ="))
for i in a:
    x = input(f"Enter {i}")
    a[i][index] = x
print(a)

Enter index = 1
Enter name Hari
Enter age 98
Enter add butwol

{'name': ['Ram', 'Hari'], 'age': [34, '98'], 'add': ['Kathmandu', 'butwol']}