In [1]:
# Set 
# No indexing 
# Mutiple biit no duplicate data 
# Unordered 
# Mutable

In [3]:
#unordered
a = {"Cat", "Fish", "Dog", "Ball"}
print(a)

{'Cat', 'Fish', 'Ball', 'Dog'}

In [11]:
a = {"Cat","Fish","Apple","Apple","Fish", "Dog", "Ball",1,2}
print(a)
print(type(a))

{'Cat', 'Fish', 2, 'Ball', 1, 'Apple', 'Dog'}
<class 'set'>

In [12]:
# add in used in set only. Not append is used in set
s = set()
s.add("Apple")
s.add("Banana")
s.add("Cat")
s

{'Apple', 'Banana', 'Cat'}

In [14]:
# count function is not used in set. becoz it gives unique values always.
a = {'Cat', 'Fish', 2, 'Ball', 1, 'Apple', 'Dog'}
a.remove("Apple")
a

{1, 2, 'Ball', 'Cat', 'Dog', 'Fish'}

In [17]:
#uniqueness and randomnes
s= {'Cat', 'Fish', 2, 'Ball', 1, 'Apple', 'Dog'}
for i in s:
    print(i)

Cat
Fish
2
Ball
1
Apple
Dog

In [21]:
# set for math
name1 = {"Ram", "Shyam", "Mark", "John","Bill"}
ms = {"Ram","Elon", "Musk", "Harry", "Bill"}
print("Both in name1 and ms = ",name1.intersection(ms))
print("When both name1 and ms combines = ",name1.union(ms))

Both in name1 and ms =  {'Bill', 'Ram'}
When both name1 and ms combines =  {'Ram', 'Shyam', 'Elon', 'Harry', 'Musk', 'Mark', 'Bill', 'John'}

In [22]:
print("only in name1", name1-ms)

only in name1 {'Mark', 'John', 'Shyam'}

In [23]:
print("only in ms", ms-name1)

only in ms {'Elon', 'Harry', 'Musk'}

In [24]:
u = {'Ram', 'Shyam', 'Elon', 'Harry', 'Musk', 'Mark', 'Bill', 'John', 'abc', 'xyz'}
u-name1-ms

{'abc', 'xyz'}

In [25]:
u-ms

{'John', 'Mark', 'Shyam', 'abc', 'xyz'}